* {
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: "Open Sans", Helvetica, sans-serif;
  background-color: #ffffff;
  color: @text;
  line-height: 1.42;
}

.wrapper {
  overflow: hidden;
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1 1 auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h2 {
  color: @text;
}
