.advantages__box {
  background-color: @grey;
  padding-top: 60px;

  ul {
    margin-bottom: 48px;
  }

  li:not(:last-child) {
    margin-bottom: 43px;
  }

  h4 {
    margin-bottom: 24px;
  }
}

h4 {
  .subtitle;
}

.box__container {
  max-width: 280px;
  margin: 0px auto;
}
