.contacts__container {
  max-width: 244px;
  margin: 0 auto;
}

.contacts__title {
  padding-top: 50px;
  margin-bottom: 45px;
}

.contacts__info {
  p {
    .subtitle;
    padding-bottom: 34px;
  }

  a {
    .contacts;
  }
}

.contacts__mail {
  padding-top: 13px;
}

.contacts-map__container {
  max-width: 320px;
}
