.emotion {
  padding-top: 42px;
  padding-bottom: 52px;
}

.emotion__container {
  max-width: 276px;
  margin: 0 auto;
}

.emotion__subject {
  margin-bottom: 22px;
}

.emotion__input--textarea {
  width: 220px;
  height: 197px;
}
