.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 284px;
}

.page-footer__logo {
  margin-bottom: 41px;
}

.copyright__text {
  display: inline-block;
  padding-right: 15px;
}
