.form {
  &__title {
    max-width: 280px;
    margin: 0 auto;
    line-height: 30px;
    padding-top: 54px;
    padding-bottom: 55px;
  }
}

.subject {
  .subject;
}

.form__input {
  .input;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__subject {
  text-align: left;
  padding-left: 32px;
}

.form__button--green {
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;
  margin-bottom: 46px;
  text-transform: uppercase;
  padding: 23px 44px;
}

.form__info {
  text-transform: uppercase;
}
