.price {
  background-color: @grey;
  padding-top: 60px;
  padding-bottom: 49px;

  th {
    background-color: @text;
    color: @white;
    text-transform: @register;
    font-weight: 700;
  }

  tr {
    background-color: @white;
  }

  td {
    text-transform: @register;
  }
}
