.price {
  background-color: @grey;
  padding-top: 60px;
  padding-bottom: 49px;
}

.price__table {
  margin-bottom: 45px;
  width: 100%;
  border: 1px double @border;
  border-collapse: collapse;
}

.price__titles {
  background-color: @text;
  color: @white;
  text-transform: @register;
  font-weight: 700;
  height: 94px;
}

.price__info {
  background-color: @white;
}

.price__text {
  text-transform: @register;
  text-align: left;
  padding: 20px;
  border: 1px solid @border;
}
