.promo {
  background-color: @darkblue;
  display: flex;
  align-items: center;
  padding-top: 28px;
}

.promo__container {
  max-width: 280px;
  margin: 0 auto;
}

.promo__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}

.promo__item {
  display: inline-flex;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.promo__text {
  color: @white;
  font-weight: 300;
  margin-bottom: 38px;
  line-height: 24px;
}

.promo__button {
  .button;
  margin-bottom: 38px;

  &--white {
    background-color: @darkblue;
  }
}
