.reviews {
  padding-top: 50px;
  padding-bottom: 60px;

  &__container {
    max-width: 280px;
    margin: 0px auto;
  }

  p {
    text-shadow: 0px 4px 4px rgb(124, 119, 119);
    line-height: 30px;
  }

  blockquote {
    margin-bottom: 44px;
  }
    &__author-name {
      .subtitle;
      font-style: normal;
    }
}
